@import url("./global.css");

header{
    display: flex; /*Para que um grupo fique ao lado do outro*/
    justify-content: space-between; /*Colocar nas estremidades*/
    align-items: center; /*centraliza na vertical*/
    padding: 30px; /*Espaçamento interno*/
    border-bottom: 0.7px solid var(--color-gray-3); /*Borda inferior*/
}

.container-nav-header{
    display: flex; /*Para que um grupo fique ao lado do outro*/
    align-items: center; /*Centraliza na vertical*/
    gap: 70px; /*Distância entre os elementos*/
}

.navigation-header ul{
    display: flex; /*Para que um grupo fique ao lado do outro*/
    gap: 40px; /* distancia entre os elementos */
    list-style: none; /*Remove a bolinha*/
}

.navigation-header ul li a{
    text-decoration: none; /*decoraçao do texto*/
    color: var(--color-black); /*cor do texto*/
    font-family: var(--font-primary); /*altera a fonte*/
}

.navigation-header ul li .menu-active{
    color: var(--color-blue); /*altera a cor*/
}

.btn-header{
    text-decoration: none; /*Tira a decoração do texto*/
    background-color: var(--color-blue); /* cor do fundo */
    color: var(--color-white); /*Cor da fonte*/
    font-family: var(--font-primary); /*Altera a fonte*/
    border-radius: 10px; /*Arrendondamento da fonte */
    padding: 10px 20px; /*Espaçamento interno*/
    font-weight: var(--font-weight-button); /*Espessura da fonte*/
}

/*----- MAIN ------*/
main{
    display: flex; /*organiza um elementos um do lado do outro*/
    justify-content: center; /*Centraliza os elementos na Horizontal*/
    align-items: center; /*Centraliza os elemento na Vertical*/
    gap: 50px; /*Distância de um Elemanto para o outro*/
    background-color: var(--color-blue-10); /*Cor de Fundo*/
    padding: 50px 0; /*Espaçamento interno*/
}

.main-content{
    display: flex; /*para habilitar o gap*/
    flex-direction: column; /*deixar em coluna*/
    gap: 30px; /*Distância entre os elementos*/
    width: 520px; /*Largura do Elemento*/
}

.main-content h1{
    font-size: var(--font-size-h1); /*Tamanho da Fonte*/
    font-family: var(--font-primary); /*Altera a Fonte*/
    font-weight: var(--font-weight-h1); /*Espessura da Fonte*/
}

.main-content h1 span{
    color: var(--color-blue); /*Altera a cor*/
}

.main-content p{
    font-family: var(--font-primary); /*Altera a fonte*/
    color: var(--color-gray); /*Altera a cor do texto*/
    line-height: 30px; /*Distância entre as Linhas*/
}

.container-cta{
    display: flex;
    gap: 10px;
}

.btn-primary, .btn-secondary{
    padding: 8px 55px; /*Espaçamento interno*/
    border-radius: 10px; /*borda do elemento*/
    font-weight: var(--font-weight-button); /*Espessura do Botão*/
    text-decoration: none; /*Tira a decoração do elemento*/
    font-family: var(--font-primary); /*Altera a fonte*/
}

.btn-primary{
    background-color: var(--color-blue); /*Cor de Fundo*/
    color: var(--color-white); /*Cor da fonte*/
    transition: 0.3s; /*tempo de transção do elemento*/
}

.btn-primary:hover{
    background-color: #005e89;
}

.btn-secondary{
    background-color: var(--color-white); /*Cor de Fundo*/
    color: var(--color-blue); /*Cor de texto*/
    border: 1px solid var(--color-blue); /*Borda do elemento*/
    transition: 0.3s; /*tempo de transção do elemento*/
}

.btn-secondary:hover{
    background-color: #e6e6e6;

}

.section-services{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 25px;
    padding: 30px 0;
    border-bottom: 0.7px solid var(--color-gray-3);
}

.container-item-services{
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-item-services h2{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-h4);
    font-size: var(--font-size-h4);
}

.container-item-services p{
    font-family: var(--font-primary);
    color: var(--color-gray-2);
    font-weight: var(--font-weight-caption);
    font-size: var(--font-size-caption);
}

/* SECTION DETAILS */
.section-details{
    display: flex; /* Habilitar o gap */
    flex-direction: column; /* Colocar os Elementos em colunas */
    gap: 80px; /* Distância entres os Elementos*/
    align-items: center; /* Cuida da Horizontal (Flex-direction: column)*/
    padding: 80px 0; /* Espaçamento interno*/
}

.details-presention{
    display: flex; /* Habilita o gap */
    flex-direction: column; /* coloca os elementos em coluna  */
    gap: 30px; /* Espaçamento até os elementos */
    text-align: center; /* Texto ao Centro */
}

.details-presention h2{
    font-size: var(--font-size-h2); /* Tamanho da Fonte */
    font-family: var(--font-primary); /* Família da Fonte */
    font-weight: var(--font-weight-h2); /* Espessura da Fonte */
}

.details-presention p{
    color: var(--color-gray-2); /* Cor do Paragrafo */
    font-size: var(--font-size-body); /* Tamanho da Fonte */
    font-family: var(--font-primary); /* Família da Fonte */
    width: 665px; /* Largura */
    margin: 0 auto; /*  */
}

.service-description{
    display: flex; /* Coloca os Elementos um ao lado do outro */
    align-items: center; /* Centraliza na Vertical */
    gap: 60px; /* Distância entre os Elementos */
}

.content-service{
    display: flex; /* Habilitar o gap */
    flex-direction: column; /* Coloca em Coluna */
    gap: 40px; /* Distância entre os elementos */
}

.service-details{
    display: flex; /* Elementos um do lado do outro */
    align-items: center; /* Centraliza na Vertical */
    gap: 25px; /* Distância entre os elementos */
}

.service-details div span{
    font-family: var(--font-primary); /* Família da Fonte */
    font-size: var(--font-size-h4); /* Tamanho da Fonte */
    font-weight: var(--font-weight-h4); /* Espessura da Fonte */
}

.service-details div p{
    font-family: var(--font-primary); /* Família da Fonte */
    font-size: var(--font-size-caption); /* Tamanho da Fonte */
    color: var(--color-gray-2); /* Cor do texto */
}

.content-service h3{
    font-family: var(--font-primary); /* Família da Fonte */
    font-size: var(--font-size-h3); /* Tamanho da Fonte */
    font-weight: var(--font-weight-h3); /* Espessura da Fonte */
    width: 420px; /* Largura */
}

.content-service h3 span{
    color: var(--color-blue); /* Cor do Texto */
}

.content-service p{
    font-family: var(--font-primary); /* Família da Fonte */
    font-size: var(--font-size-body); /* Tamanho da Fonte */
    color: var(--color-gray); /* Cor do texto */
    line-height: 27px; /* Espaçamento entre as linhas */
    width: 445px; /* Largura */
}

/* SECTION BENEFIT */

.section-benefit{
    display: flex; /* Coloca um do lado do outro */
    justify-content: center; /* Alinha na Horizontal */
    gap: 20px; /* Distância entre os elementos */
}

.card-benefit{
    display: flex; /* Habilita o gap */
    flex-direction: column; /* Organiza em coluna */
    gap: 35px; /* Distância entre os elementos */
    align-items: center; /* Centraliza na Vertical */
    padding: 60px 48px; /* Espaçamento interno */
    border-radius: 20px; /*  */
}

.card-benefit-secondary{
    background-color: #F4F4F4; /* */
}

.card-benefit h2{
    font-family: var(--font-primary);
    font-size: var(--font-size-h3);
    width: 365px;
    text-align: center;
}

.card-benefit p{
    font-family: var(--font-primary);
    color: var(--color-gray);
    width: 458px;
    text-align: center;
}

.btn-benefit{
    padding: 10px 35px;
    border-radius: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-button);
}

.card-benefit-primary{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.card-benefit-primary p{
    color: var(--color-white);
}

.btn-benefit-secondary{
    background-color: var(--color-white);
    padding: 10px 35px;
    border-radius: 10px;
    color: var(--color-blue);
    text-decoration: none;
    font-weight: var(--font-weight-button);
    font-family: var(--font-primary);
}

/* Section Company */
.section-company{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 43px;
    padding: 80px 0;
}

.section-company h2{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-h2);
    font-size: var(--font-size-h3);
}

.container-company{
    display: flex;
    gap: 80px;
}
